body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000000;
    font-size: 1em;
    font-family: "Noto Sans JP", sans-serif;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-family: "Anton", sans-serif;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    font-size: 2em;
    margin: 40px 0 5px 0;
    letter-spacing: 1px;
}

h1:first-letter {
    color: #f00;
}

p {
    margin: 0;
}

.description{
    height:35px;
}

i {
    text-align: center;
    width: 64px;
    height: 44px;
    font-size: 40px;
    margin: 20px 0px 20px 0;
}

header {
    margin: 20px;
}

article {
    margin: 20px;
}

#titleimg {
    width: 100%;
}

a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #f00;
}
a:active {
    color: #000000;
}

li {
    list-style-type: none;
}

.about {
    background-color: #eeeeee;
    text-align: left;
    line-height: 3em;
    padding: 5px 20px 5px 20px;
    font-size: 1em;
    margin-top: 20px;
}

.privacy {
    background-color: #eeeeee;
    text-align: left;
    padding: 0px 20px 20px 20px;
    font-size: 0.8em;
    margin-top: 20px;
    height: 300px;
    overflow-y: scroll;
}
.privacy h2 {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

/* ↑renewal */
